/engines/temp_files
baseq3/pak0.pk3
baseq3/pak1.pk3
baseq3/pak2.pk3
baseq3/pak3.pk3
baseq3/pak4.pk3
baseq3/pak5.pk3
baseq3/pak6.pk3
baseq3/pak7.pk3
baseq3/pak8.pk3
/engines/__pycache__
baseq3/mods/osp/zz-osp-pak0.pk3
baseq3/mods/osp/zz-osp-pak1.pk3
baseq3/mods/osp/zz-osp-pak2.pk3
baseq3/mods/osp/zz-osp-pak3.pk3
engines/oDFe.vk.x64.exe
engines/oDFe.x64.exe
engines/quake3e-vulkan.x64.exe
engines/quake3e.x64.exe
baseq3/mods/osp/zz-osp-pak8be.pk3
engines/quake3e-vulkan.x64
engines/quake3e.x64
